extends layout

block content
  h1= '🤖 Machine Learning Workflow/Pipeline'

  p Visualize the results of a given CSV file upload.

  form(action = "/", method = "POST")
    div
      input(type="file", name="csvfile")
      input(type="submit", name="uploadcsv", value="🚀 Upload")

  hr

  p Source Code (UAF #{title} / Fall 2023): #[a(href=link target="_blank") #{link}]

  if errors
    ul
      for error in errors
        li= error
